body {
    margin: 0;
}

.headerStyle {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2ec54;
}

.headerReturn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerReturn span {
    font-size: 30px;
    margin-left: 10px;
}

.headerReturn:visited {
    color: unset;
}

@media (max-width: 500px) {
    .headerReturn span {
        display: none;
    }

    .name h1 {
        font-size: 15px;
    }
}

